
.divide-nav{
  height: 40px;
  background-color: #428bca;
}

.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.affix {
  top: 50px;
  width:100%;
}



.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0;
}
